@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap'); *{
    margin: 0;
    padding: 0;
 }
header {
    display: flex;
    justify-content: space-around;
    background-color: black;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
    z-index: 1000;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding-top: 17px;

}

ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    text-decoration: none;
    
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s ease;
}
#home .welcom-pa{
    font-size: 20px;
}
ul li a:hover::after {
    width: 100%;
}

ul li a:hover {
    color: #ffcc00;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transform: scale(1.05);
}

header img {
    width: 100px;
    height: 60px;
    padding-right: 400px;
}

.backimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-image-repeat: no-repeat;
    object-fit: cover;
    z-index: -1;
}

#home h1 {
    color: white;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#home p {
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}
.hbat{
    padding-top: 90px;
}

#home  button {
    background-color: transparent;
    color: white;
    width: 120px;
    height: 28px;
    border: 1px solid gray;
    border-radius: 5px;
}

#home  button:hover {
    transform: scale(1.1);
    background-color: #ffcc00;
    color: black;
}

#home  {
    padding-top: 100px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}
#menu .back2{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 119%;
    object-fit: content;
    z-index: -1;
}
#menu h3{
    text-align: center;
    margin-top: 295px;
    color: gold;
    font-family: "Satisfy", cursive;
    margin-bottom: 25px;
}
#menu h2{
    color: white;
    text-align: center;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
}
#menu p{
    margin-top: 30px;
    text-align: center;
    top: 25%;
    color: white;
    bottom: 45px;
}
.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.img1 h1{
    padding-top: 15px;
    color: white;
    font-family: "Tapestry", serif;
    padding-bottom: 10px;
}
.img2 h1{
    padding-top: 15px;
    color: white;
    font-family: "Tapestry", serif;
    padding-bottom: 10px;
} 
.img3 h1{
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-family: "Tapestry", serif;
}
.img1{
    text-align: center;
    margin-left: 70px; 
   
}
.img2{
    text-align: center; 
    
}
.img3{
    text-align: center;
}
.image:hover{
    z-index: 10;
    transform: scale(1.1)
}
.image{
    border: 1px solid gold;
    border-radius: 20px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.butt{
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    background-color: black;
    color: white;
}
.image1{
    display: flex;
    justify-content: space-between;  
}
.image2{
    display: flex;
    justify-content: flex-end;
}
.image3{
    display: flex;
    justify-content: space-between;
}
.img-me{
    margin-top: 25px;
    margin-left: 20px;
    border: 1px solid gold;
    border-radius: 10px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.img-me:hover{
    z-index: 10;
    transform: scale(1.1)  
}
.img-ma{
    margin-top: 5px;
    border: 1px solid gold;
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.img-ma:hover{
    z-index: 10;
    transform: scale(1.1)
}
.img-mr{
    border: 1px solid gold;
    border-radius: 10px;
    margin-left: 20px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.img-mr:hover{
    z-index: 10;
    transform: scale(1.1)
}
#breakfast .back3{
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    left: 0;
    width: 100%;
    height: 155%;
    object-fit: content;
    z-index: -1;
}
#breakfast h2{
    text-align: center;
     margin-top: 30px;
    color: gold;
    font-family: "Satisfy", cursive;
    
}
.image1 p{
    color: white;
    margin-top: 50px;
    margin-right: 370;
}
.image2 p{
    color: white;
    margin-top: 50px;
}
.image3 p{
    color: white;
    margin-top: 50px;
    margin-right: 490px;
}
#appetizer .app1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 10px;
}
#appetizer .app1 .app-1{
    display: flex;
    justify-content: space-between;
   gap: 5px;
}
#appetizer .app1 .app-2{
    display: flex;
    justify-content: space-between;
    
}
#appetizer{
    margin-top: 20px;
    
   background-color: black;
   padding: 5%;
}
#appetizer h2 {
    text-align: center;
    color: gold;
    font-family: "Satisfy", cursive;
}
#appetizer p {
    text-align: center;
    color: white;
}
#appetizer .app1  p{
    font-size: 12px;
    margin-top: 50px;
}
.image5,.image6,.image7,.image8{
    border: 1px solid gold;
    border-radius: 10px;
}
.drink1{
    display: flex;
    justify-content: space-between;
}
.drink2{
    display: flex;
    justify-content: space-between;
}
.dr1{
    margin-left: 155px;
}
.dr2{
   margin-left: 100px;
}
.dr4{
    margin-right: 65px;
    margin-top: 30px;
}
.dr3{
    margin-left: 100px;
    margin-top: 30px;
}
#drink h1{
    text-align: center;
   
   color: gold;
   font-family: "Satisfy", cursive;
}
#drink h2{
    margin-right: 100px;
}
#drink{
    background-color: black;
}
#drink p{
    color: white;
    text-align: center;
    margin-right: 100px;
}
#drink .imag1{
    border: 1px solid gold;
    border-radius: 10px;
    margin-bottom: 10px;
}
#drink .imag2{
    border: 1px solid gold;
    border-radius: 10px;
    margin-left: 60px;
   
}
#drink .imag3{
    border: 1px solid gold;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 55px;
}
#drink .imag4{
    border: 1px solid gold;
    border-radius: 10px;
    margin-left: 190px;
}
#drink .imag1,.imag2,.imag3,.imag4{
     transition: transform 0.3s ease, z-index 0.3s ease;
}
#drink .imag1,.imag2,.imag3,.imag4:hover{
    z-index: 10;
    transform: scale(1.1)
}
#drink .imag1:hover{
     z-index: 10;
    transform: scale(1.1)
}
#drink .p1{
    margin-top: 10px;
    margin-right: 285px;
}
#drink .p2{
    margin-right: 200px;
    margin-top: 5px;
}
#drink .p4{
    
    margin-left: 195px;
}
.dr4 h2{
    margin-top: 10px;
    margin-left: 295px;
    color: gold;
}
.dr2 h2{
    margin-top: 10px;
    margin-left: 120px;
    color: gold;
}
.dr1 h3{
    color: gold;
    font-family: "Satisfy", cursive; 
    margin-left: 35px;
}
.dr3 h3{
    color: gold;
    font-family: "Satisfy", cursive; 
    margin-left: 160px;
}
.dr2 .p2{
    margin-bottom: 30px;
}
#contact{
    background-color: black;
    height: 100%;
}
#contact h1{
    color: gold;
    font-family: "Satisfy", cursive;
    text-align: center;
}
.format{
    text-align: center;
    color: white;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    margin-top: 10px;
}
.form{
    margin-top: 30px;
    
}
form{
    text-align: center;
    border: 1px solid gold;
    margin-top: 30px;
    height: 60%;
    width: 60%;
    margin-left: 20%;
    background-image: url("WhatsApp Image 2025-06-08 at 19.46.07_34037c9c.jpg");
    background-size: cover;
    background-position: center;
  
}
form input{
    border: 1px solid gold;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 6px;
}
form select,option{
     border: 1px solid gold;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 6px;
}

form label{
    color: white;
}
.buttsum{
    padding: 7px;
    background-color: transparent;
    color: white;
    border: gold 1px solid;
    border-radius: 5px ;
}
footer{
    background-color: black;
    height: 60%;
    color: white;
    border: 1px solid gold;
    border-radius: 5px;
}
footer img{
    margin-left: 120px;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.parafot{
   font-family: "Chiron Sung HK", serif;
    
}
div ul{
    text-align: end;
    margin-top: 60px;
    margin-left: 125px;
}